@import "tailwindcss";

* {
  box-sizing: border-box;
}


.quicksand {
  font-family: "Quicksand", sans-serif;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
