@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}



.quicksand {
  font-family: "Quicksand", sans-serif;
}

/* .dm-sans {
  font-family: "DM Sans", sans-serif;
} */

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}


@media (max-width: 927px) {
  .below-928-show {
    display: block !important;
  }

  .below-928-hide {
    display: none !important;
  }
}

@media (min-width: 928px) {
  .below-928-show {
    display: none !important;
  }

  .below-928-hide {
    display: block !important;
  }
}